<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330234410137-dkc0ak6b9lovppm60vas9rp06o7ddnbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330234410137-dkc0ak6b9lovppm60vas9rp06o7ddnbd</string>
	<key>API_KEY</key>
	<string>AIzaSyCLbonwFSEJUcyNhCvAEcDkZa5uFwPEnZU</string>
	<key>GCM_SENDER_ID</key>
	<string>330234410137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sosVolaille</string>
	<key>PROJECT_ID</key>
	<string>sosvolaille</string>
	<key>STORAGE_BUCKET</key>
	<string>sosvolaille.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330234410137:ios:27df4ce36057370c0fb408</string>
	<key>DATABASE_URL</key>
	<string>https://sosvolaille-default-rtdb.firebaseio.com</string>
</dict>
</plist>